<script>
    window.onload = function() {
    document.getElementById('preloader').style.display = 'none';
    }
</script>

<!-- Header section -->
<header>
    <!-- Preloader to avoid loading html and css separately -->
    <div id="preloader"></div>

    <!-- Logo or website name -->
    <!-- <img src="/static/GLDC.jpg" alt="GLDC" style="width:10%"> -->
    <h1>HomolVar pathogenicity predictor</h1>
    
    <!-- Navigation links -->
    <nav>
        <!-- <a href="/">RareVariants</a> -->
        <!-- <a href="/HomolVar/">Pathogenicity predictor</a> -->
        <!-- <a href="/services">Services</a> -->
        <!-- <a href="{{ url_for('about') }}">About</a> -->
        <!-- <a href="{#{ url_for('homologous_vars_db') }#}">Homologous Variants Database</a> -->
        <!-- <a href="/contact">Contact</a> -->
    </nav>
</header>
